<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Stock Trainer{% endblock title %}</title>

    <!-- CSS
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'StockTrainer/style.css' %}">
    {% block extra_css %}{% endblock extra_css %}

    <!-- JAVASCRIPT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>
<body>

<div class="container">
    {% block body %}
    {% endblock body %}
    {% include "StockTrainer/footer.html" %}
</div>

{% block extra_js %}{% endblock extra_js %}
</body>
</html>